[init]
    defaultBranch = main
    
[core]
    excludesfile = /Users/javier/.gitignore_global
    hooksPath = /Users/javier/.config/git/hooks

[pull]
    rebase = true

[include]
    path = /Users/javier/.gitconfig.local
